@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "黑体"; }
a{
	text-decoration: none;

}
.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

html,
body {
  width: 100%;
  height: 100%; }

header {
  width: 100%; }
  header img {
    width: 100%; }

nav {
  width: 100%;
  height: 40px;
  background: #333333; }
  nav .fd:after {
    display: block;
    clear: both;
    content: ""; }
  nav div {
    width: 1200px;
    margin: 0 auto; }
    nav div .ul1 {
      /*width: 70%;*/
      float: left; }
      nav div .ul1 li {
        width: 80px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        color: #81929D; }
       nav div .ul1 li a{
       	color: #81929D;
       }
       nav div .ul1 li a:hover{
       	color: #fff;
       	cursor: pointer;
       }
    nav div .ul2 {
      float: right; }
      nav div .ul2 li {
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #81929D;
        float: left; }

section {
  width: 1200px;
  height: 120px;
  margin: 0 auto; }
  section div {
    width: 10%;
    float: left; }
    section div img {
      width: 50px;
      height: 50px;
      padding: 30px; }
  section .img2 img {
    width: 30px;
    height: 50px; }
  section ul {
    width: 55%;
    float: left; }
    section ul li {
      float: left;
      width: 11%;
      line-height: 120px; }
section ul li a{
	color: #000;
}
.inp {
  width: 25%;
  line-height: 120px; }
  .inp input {
    width: 200px;
    height: 50px; }
  .inp button {
    width: 60px;
    height: 52px;
    background: #fff; }

.section:after {
  display: block;
  clear: both;
  content: ""; }

.banner {
  width: 1200px;
  margin: 0 auto;
  position: relative; }
  .banner > div:nth-child(1) {
    width: 25%;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    float: left; }
    .banner > div:nth-child(1) ul {
      width: 100%;
     }
      .banner > div:nth-child(1) ul li {
        width: 100%;
        line-height: 45px;
        text-align: left;
        color: #fff; }
        .banner > div:nth-child(1) ul li a{
        	color: #fff;
        }
        .banner > div:nth-child(1) ul li span {
          width: 20%;
          float: right;
          text-align:center; }
.swiper-button-prev{
	margin-left: 300px;
}
.swiper-pagination{
	margin-left: 500px;
}
  .banner > div:nth-child(2) {
    width: 100%;
    float: left;
    position: relative;
    left: 0px; }
    .banner > div:nth-child(2) img {
      width: 100%; }

.banner:after {
  display: block;
  clear: both;
  content: ""; }

.tu {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  padding: 10px 0; }
  .tu div {
    width: 22.5%;
    padding: 0 15px;
    float: left; }
    .tu div img {
      width: 100%; }
  .tu .hui {
    width: 22.5%;
    height: 140px;
    background: #5F5750; }
    .tu .hui ul {
      width: 100%; }
      .tu .hui ul li {
        width: 33.3%;
        height: 70px;
        line-height: 30px;
        float: left;
        text-align: center; }
        .tu .hui ul li img {
          width: 20px;
          height: 20px;
          line-height: 20px;
          margin-top: 10px; }
        .tu .hui ul li p {
          color: #999;
          text-align: center; }
.mx {
  width: 1200px;
  height: 30px;
  margin: 10px auto; }
  .mx h2 {
    float: left;
    line-height: 30px; }
.mx p{
	float: right;
}
.mx p button{
	width: 20px;
	height: 30px;
}
.mx1 {
  width: 1200px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0; }
  .mx1 ul {
    width: 100%; }
    .mx1 ul li {
      width: 220px;
      height: 300px;
      float: left;
      margin-left: 20px;
      line-height: 20px;
      text-align: center;
      background: #FAFAFA;
      border-top: 3px solid orange; }
      .mx1 ul li img {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center; }
      .mx1 ul li p {
        text-align: center; }

.mx2 {
  width: 1200px;
  height: 350px;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: none; }
  .mx2 ul {
    width: 100%; }
    .mx2 ul li {
      width: 220px;
      height: 300px;
      float: left;
      margin-left: 20px;
      line-height: 20px;
      text-align: center;
      background: #FAFAFA;
      border-top: 3px solid orange; }
      .mx2 ul li img {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center; }
      .mx2 ul li p {
        text-align: center; }
.xia {
  width: 100%;
  background: #FAFAFA; }
  .xia div {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px; }
    .xia div h3 {
      width: 100px;
      line-height: 50px;
      float: left; }
    .xia div ul {
      width: 200px;
      float: right; }
      .xia div ul li {
        width: 25%;
        text-align: center;
        float: left;
        line-height: 50px; }

.jd {
  width: 1200px;
  margin: 0 auto; }
  .jd > div:nth-child(1) {
    width: 20%;
    float: left;
    margin-right: 20px; }
  .jd > div:nth-child(2) {
    width: 70%;
    float: left;
    position: relative; }
    .jd > div:nth-child(2) ul {
      width: 110%;
      float: left; }
      .jd > div:nth-child(2) ul li {
        width: 23%;
        height: 285px;
        margin-bottom: 10px;
        margin-left: 10px;
        float: left;
        background: #fff;
        position: relative; }
        .jd > div:nth-child(2) ul li:hover{
        	transform: translate3d(0,-2px,0);
        	box-shadow:0px 15px 30px rgba(0,0,0,0.1);

        }
        .jd > div:nth-child(2) ul li img {
          margin-top: 50px; }
        .jd > div:nth-child(2) ul li > img:nth-child(2) {
          position: absolute;
          top: -51px;
          left: 73px;
          z-index: 10; }
        .jd > div:nth-child(2) ul li p {
          text-align: center;
          line-height: 20px; }

.jd:after {
  display: block;
  clear: both;
  content: ""; }

.div {
  width: 100%;
  background: #ccc; }
  .div > div:nth-child(1) {
    width: 100%;
    height: 80px;
    background: #fff url("../images/28.png") no-repeat 120px 44px;
    border: 7px solid #FAFAFA; }
    .div > div:nth-child(1) p {
      width: 50%; }
    .div > div:nth-child(1) img {
      margin-top: 50px; }
  .div > div:nth-child(2) {
    width: 100%;
    height: 80px;
    background: #fff url("../images/32.png") no-repeat 120px 44px;
    border: 7px solid #FAFAFA; }
    .div > div:nth-child(2) p {
      width: 50%; }
    .div > div:nth-child(2) img {
      margin-top: 50px; }

.ull {
  width: 1200px;
  height: 300px;
  margin: 0 auto; 
  position: relative;
  left: 0;
  top: 0;
  }
  .ull li {
    width: 18%;
    height: 280px;
    float: left;
    margin-right: 20px;
    position: relative;
    left: 0;
    top: 0;
    background: #fff;
    text-align: center; }
    .ull li img {
      margin-top: 50px;
      margin-bottom: 50px; }
    .ull li p {
      text-align: center; }
  .ull li:nth-child(1) {
    clear: both; }
    
    .ull2 {
  width: 1200px;
  height: 300px;
  margin: 0 auto; 
  position: relative;
  left: 0;
  top: 0;
  display: none;}
  .ull2 li {
    width: 18%;
    height: 280px;
    float: left;
    margin-right: 20px;
    position: relative;
    left: 0;
    top: 0;
    background: #fff;
    text-align: center; }
    .ull2 li img {
      margin-top: 50px;
      margin-bottom: 50px; }
    .ull2 li p {
      text-align: center; }
  .ull2 li:nth-child(1) {
    clear: both; }

.ul3 {
  width: 1200px;
  height: 350px;
  margin: 0 auto; }
  .ul3 li {
    width: 22%;
    height: 320px;
    background: #fff;
    float: left;
    margin-right: 25px;
    line-height: 20px; }
    .ul3 li img {
      width: 100%; }
    .ul3 li p {
      text-align: center; }
  .ul3 li:nth-child(1) {
    clear: both; }

.nr {
  width: 1200px;
  height: 350px;
  margin: 0 auto; }
  .nr li {
    width: 23%;
    height: 320px;
    background: #fff;
    float: left;
    margin-right: 10px;
    text-align: center;
    border-top: 3px solid lightblue; }
  .nr p {
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
    text-align: center; }
  .nr li:nth-child(1) {
    clear: both; }

.p_1 {
  position: relative;
  top: 20px;
  left: 90px; }
  .p_1 span {
    width: 5px;
    height: 5px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-right: 10px; }
  .p_1 > span:nth-child(1) {
    border: 2px solid red;
    margin-top: -1px;
     }
  
.sp {
  width: 1200px;
  height: 40px;
  margin: 0 auto; }
  .sp h3 {
    width: 20%;
    float: left; }
  .sp p {
    width: 20%;
    float: right; }
    .sp p img {
      vertical-align: middle; }

.lz {
  width: 1200px;
  height: 320px;
  margin: 0 auto; }
  .lz li {
    width: 23%;
    height: 280px;
    position: relative;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    text-align: center;
    background: #fff; }
    .lz li > img:nth-child(2) {
      width: 100%; }
      .lz li>img:nth-child(1):hover{
      	cursor: pointer;
      	width:40px;
      }
    .lz li > img:nth-child(1) {
      position: absolute;
      top: 136px;
      left: 20px; }
  .lz > li:nth-child(1) {
    clear: both; }

.footer {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  padding-top: 20px;
  border-bottom: 1px solid #ccc; }
  .footer li {
    width: 18%;
    float: left;
    text-align: center;
    margin-left: 10px;
    border-right: 1px solid #ccc; }
    .footer li img {
      vertical-align: middle; }

.foo {
  width: 1200px;
  height: 200px;
  margin: 20px auto; }
  .foo li {
    width: 15%;
    line-height: 30px;
    float: left; }
  .foo button {
    width: 150px;
    height: 40px;
    border-color: orange;
    cursor: pointer;
    background: #fff; }
  .foo > li:last-child {
    border-left: 1px solid #ccc;
    text-align: center; }

.last {
  width: 1200px;
  height: 120px;
  padding: 20px;
  background: #FAFAFA;
  margin: 0 auto; }
  .last > li:nth-child(1) {
    width: 10%;
    float: left; }
  .last > li:nth-child(2) {
    width: 50%;
    float: left; }
  .last > li:nth-child(3) {
    width: 40%;
    float: left; }
    .last > li:nth-child(3) p {
      width: 25%;
      float: left;
      text-align: center; }
      .last > li:nth-child(3) p img {
        vertical-align: middle; }
        .banner>div ul li ol{
        	list-style: none;
        	position: absolute;
        	left: 300px;
        	top: 0;
        	width: 200px;
        	/*height: 50px;*/
        	z-index: 12;
        	background: rgba(0,0,0,0.5);
	     text-align: center;
	     display: none;
        	
        }
.banner div ul li:hover{
	background: orange;
	display: block;
}
.ul2 li a:hover{
	color: #fff;
	cursor: pointer;
}
.ul2 li a{
	color: #B0B0B0;
}
.banner>div>.po{
    position: absolute;
    top:0;
    left: 100%;
    width:300px;
    height: 450px;
    background:#fff;
    box-shadow: 3px 3px 3px gray;
    z-index: 5;
    display: none;
}
.banner>div>.po p{
	text-align: center;
	line-height: 40px;
}
.acti{color: orange;
border-bottom: 2px solid orange;
}
.ull>li:hover{
        	transform: translate3d(0,-2px,0);
        	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
        }
        .ull2>li:hover{
        	transform: translate3d(0,-2px,0);
        	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
        }
 .lz li:hover{
 	transform: translate3d(0,-2px,0);
        	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
 }
 .ul3 li:hover{
 	transform: translate3d(0,-2px,0);
        	box-shadow:0px 15px 30px rgba(0,0,0,0.1);
 }

