@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "黑体";
}
.fd:after {
    display: block;
    clear: both;
    content: "";
}
html,
body {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    img {
        width: 100%;
    }
}
nav {
    width: 100%;
    height: 40px;
    background: #333333;
    .fd:after {
        display: block;
        clear: both;
        content: "";
    }
    div {
        width: 1200px;
        margin: 0 auto;
        .ul1 {
            width: 70%;
            float: left;
            li {
                width: 80px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                float: left;
                color: #81929D;
            }
        }
        .ul2 {
            width: 20%;
            float: right;
            li {
                width: 60px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #81929D;
                float: left;
            }
        }
    }
}
section {
    width: 1200px;
    height: 120px; //  border: 1px solid red;
    margin: 0 auto;
    div {
        width: 10%;
        float: left;
        img {
            width: 50px;
            height: 50px;
            padding: 30px;
        }
    }
    .img2 {
        img {
            width: 30px;
            height: 50px;
        }
    }
    ul {
        width: 55%;
        float: left;
        li {
            float: left;
            width: 11%;
            line-height: 120px;
        }
    }
}
.inp {
    width: 25%;
    line-height: 120px;
    input {
        width: 200px;
        height: 50px;
    }
    button {
        width: 60px;
        height: 52px; //      border: none;
        background: #fff;
    }
}
.section:after {
    display: block;
    clear: both;
    content: "";
}
.banner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    
    >div:nth-child(1) {
        width: 25%;
        height:390px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background: #0C0D0F;
        float: left;
        ul {
            width: 80%;
            margin: 0 auto;
            li {
                width: 100%;
                text-align: center;
                line-height: 44px;
                color: #fff;
                span {
                    width: 20%;
                    float: right;
                }
            }
        }
    }
    >div:nth-child(2) {
        width: 70%;
        float: left;
        position:relative;
        left: 300px;
        img {
            width: 100%; //         height: ;
        }
    }
}
.banner:after {
    display: block;
    clear: both;
    content: "";
}
.tu {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    padding: 10px 0; //  border: 1px solid red;
    div {
        width: 22.5%;
        padding: 0 10px;
        float: left;
        img {
            width: 100%;
        }
    }
    .hui {
        width: 22.5%;
        height: 140px;
        background: #5F5750;
        ul {
            width: 100%;
            li {
                width: 33.3%;
                height: 70px;
                line-height: 30px;
                float: left;
                text-align: center;
                img {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    margin-top: 10px;
                }
                p {
                    color: #999;
                    text-align: center;
                }
            }
        }
    }
}
.mx {
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    h2 {
        float: left;
        line-height: 30px;
    }
}
.mx1 {
    width: 1200px;
    height: 350px; //  margin-top: 50px;
    margin: 0 auto;
    ul {
        width: 100%;
        li {
            width: 220px;
            height: 300px;
            float: left;
            margin-left: 10px;
            line-height: 20px;
            text-align: center;
            background: #FAFAFA;
            border-top: 3px solid orange;
            img {
                margin-top: 50px;
                margin-bottom: 50px;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}
.xia {
    width: 100%; //  height: 800px;
    background: #FAFAFA;
    div {
        width: 1200px;
        margin: 0 auto;
        padding-top: 50px;
        h3 {
            width: 100px;
            line-height: 50px;
            float: left;
        }
        ul {
            width: 200px;
            float: right;
            li {
                width: 25%;
                text-align: center;
                float: left;
                line-height: 50px;
            }
            //          }
        }
    }
}
.jd {
    width: 1200px;
    margin: 0 auto;
    >div:nth-child(1) {
        width: 20%;
        float: left;
        margin-right: 20px;
    }
    >div:nth-child(2) {
        width: 70%;
        float: left;
        position: relative;
        ul {
            width: 110%;
            float: left;
            li {
                width: 23%;
                height: 285px;
                margin-bottom: 10px;
                margin-left: 10px;
                float: left;
                background: #fff;
                position: relative;
                img {
                    margin-top: 50px;
                }
                >img:nth-child(2){
                    position: absolute;
                    top: -51px;
                    left: 73px;
                    z-index: 10;
                }
                p {
                    text-align: center;
                    line-height: 20px;
                }
            }
        }
    }
}
.jd:after {
    display: block;
    clear: both;
    content: "";
}
.div {
    width: 100%;
    background: #ccc;
    >div:nth-child(1) {
        width: 100%;
        height: 80px;
        background: #fff url("../images/28.png") no-repeat 120px 44px;
        border: 7px solid #FAFAFA;
        p {
            width: 50%;
        }
        img {
            margin-top: 50px;
        }
    }
    >div:nth-child(2) {
        width: 100%;
        height: 80px;
        background: #fff url("../images/32.png") no-repeat 120px 44px;
        border: 7px solid #FAFAFA;
        p {
            width: 50%;
        }
        img {
            margin-top: 50px;
        }
    }
}
.ull {
    width: 1200px;
    height: 300px; //  border: 1px solid red;
    margin: 0 auto;
    li {
        width: 18%;
        height: 280px;
        float: left;
        margin-right: 20px;
        background: #fff;
        text-align: center;
        img {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        p {
            text-align: center; //          line-height: 0px;
        }
    }
    li:nth-child(1) {
        clear: both;
    }
}
.ul3 {
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    li {
        width: 22%;
        height: 320px;
        background: #fff;
        float: left;
        margin-right: 25px;
        line-height: 20px;
        img {
            width: 100%;
        }
        p {
            text-align: center;
        }
    }
    li:nth-child(1) {
        clear: both;
    }
}
.nr {
    width: 1200px;
    height: 350px;
    margin: 0 auto;
    li {
        width: 23%;
        height: 320px;
        background: #fff;
        float: left;
        margin-right: 10px;
        text-align: center;
        border-top: 3px solid lightblue;
    }
    p {
        width: 80%;
        margin: 0 auto;
        line-height: 20px;
        text-align: center;
    }
    li:nth-child(1) {
        clear: both;
    }
}
.p_1{
    position: relative;
    top: 20px;
    left: 90px;
    span{
        width: 5px;
        height: 5px;
        background:#ccc;
        border-radius: 50%;
        display:inline-block;
        float: left;
        margin-right: 10px;   
    }
    >span:nth-child(1){
        border: 2px solid red;
        margin-top: -1px;
    }
}
.sp {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    h3 {
        width: 20%;
        float: left;
    }
    p {
        width: 20%;
        float: right;
        img {
            vertical-align: middle;
        }
    }
}
.lz {
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    li {
        width: 23%;
        height: 280px;
        position: relative;
        line-height: 30px;
        float: left;
        margin-right: 10px;
        text-align: center;
        background: #fff;
        >img:nth-child(2) {
            width: 100%;
        }
        >img:nth-child(1) {
            position: absolute;
            top: 136px;
            left: 20px;
        }
    }
    >li:nth-child(1) {
        clear: both;
    }
}
.footer {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    li {
        width: 18%;
        float: left; //  line-height: 50px;
        text-align: center;
        margin-left: 10px;
        border-right: 1px solid #ccc;
        img {
            vertical-align: middle;
        }
    }
}
.foo {
    width: 1200px;
    height: 200px;
    margin: 20px auto;
    li {
        width: 15%;
        line-height: 30px;
        float: left;
    }
    button {
        width: 150px;
        height: 40px;
        border-color: orange;
        background: #fff;
    }
    >li:last-child {
        border-left: 1px solid #ccc;
        text-align: center;
    }
}
.last {
    width: 1200px;
    height: 120px;
    padding: 20px;
    background: #FAFAFA;
    margin: 0 auto;
    >li:nth-child(1) {
        width: 10%;
        float: left;
    }
    >li:nth-child(2) {
        width: 50%;
        float: left;
    }
    >li:nth-child(3) {
        width: 40%;
        float: left;
        p {
            width: 25%;
            float: left;
            text-align: center;
            img {
                vertical-align: middle;
            }
        }
    }
}